  uses: lowlighter/metrics@latest
  with:
    token: ${{ secrets.METRICS_TOKEN }}
    user: dimasyoga42
    template: classic
    base: header, activity, community, repositories, metadata
    config_timezone: Asia/Jakarta
